body{
  padding: 1em;
  background:url(https://wallpaperaccess.com/full/1215990.jpg);
}


.img-avatar{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
}

.title{
  text-align: center;
  font-size: 20px;
  color: white;
  /* margin-top: -3em; */
  font-family: 'Arial Narrow Bold', sans-serif;
}

h3{
  text-align: center;
  display: none;
}

.link-section{
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 40px);
  row-gap: 1em;
}

.link-section a{
  background-color: #EAECF0;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;
  background-color: black;
  color: white;
  font-weight:normal;
  font-size: 16px;
}